input {
	font-size: 24pt;
	font-family: 'Roboto';
	
	color: #ffffff;
	background-color: #000000;
	
	padding: 10px;
	
	border: 2px solid var(--c0);
	border-radius: 12px;
}
input.short {
	width: 60px;
	text-align: center;
}
input.mono {
	font-family: monospace;
	text-align: right;
}

input[type="checkbox"] {
	width: 20px;
	height: 20px;
	color: #000000;
	accent-color: var(--c1s);
	margin-right: 10px;
}

label {
	font-size: 18pt;
}